/* External CSS File */

/* Universal Selector */

*{
    font-family: Arial, sans-serif;
    background-color:#f5f5f5;
}

/* ID Selector */

#welcome{
    background-color:#d4edda;
    padding:10px;
}

/* Class Selector */

.highlight{
    background-color:lightyellow;
    padding:10px;
}
